@page "/RemoveMe.aspx"
@using SplendidCRM.Pages
@model RemoveMeModel
<div style="padding-top: 50px;"></div>
<div>@Model.litREMOVE_ME_HEADER</div>
&nbsp;<span class="error">@Model.lblError</span>
&nbsp;<span class="error">@Model.lblWarning</span>
<div>@Model.litREMOVE_ME_FOOTER</div>
