@page "/Calls/AcceptDecline.aspx"
@using SplendidCRM.Pages.Calls
@model AcceptDeclineModel
<div style="padding-top: 50px;"></div>
<div class="error">@Model.lblError</div>
<div>@Model.litReminder</div>
